@charset "utf-8";
/* CSS Document */

#top {
	height: 30px;
	background-color: #000;
}
#main {
	height: 730px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-repeat: repeat;
	background-image: url(../images/dot.png);
}
#main_content {
	height: 380px;
	padding: 20px;
	margin: 0px;
	float: left;
	width: 600px;
}
#adv {
	height: 320px;
}
#click {
	height: 20px;
	text-align: center;
}
#headin {
	height: 10px;
	background-color: #000;
}
#footer {
	height: 30px;
	background-color: #000;
	clear: both;
}
#topcontent {
	height: 40px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#cart {
	height: 30px;
	width: 190px;
	float: left;
	background-image: url(../images/cart1.png);
	background-repeat: no-repeat;
	text-align: right;
	padding-right: 10px;
}
.white {
	color: #CCC;
}
#currency {
	height: 30px;
	width: 200px;
	float: left;
}
#language {
	float: left;
	height: 30px;
	width: 200px;
}
#header {
	height: 100px;
	background-repeat: repeat-x;
	background-color: #2B0055;
	background-image: url(../images/header.png);
}
#banner {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	height: 300px;
}
#menu {
	height: 40px;
	width: 1000px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
#menubg {
	height: 40px;
	background-image: url(../images/bar.png);
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#headercontent {
	height: 100px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.footer {
	font-family: "Courier New", Courier, monospace;
	color: #FFF;
	font-size: small;
	text-align: center;
}
#logo {
	padding-top: 20px;
	width: 300px;
	float: left;
}
#facebook {
	width: 300px;
	text-align: right;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#user {
	text-align: right;
	padding-top: 25px;
}
#header_rt {
	float: right;
	width: 300px;
	height: 100px;
}
#product {
	height: 380px;
	width: 600px;
	padding: 10px;
	float: left;
}
#product2 {
	float: left;
	height: 380px;
	width: 360px;
	padding-top: 10px;
}
#buy {
	width: 360px;
	height: 180px;
}
#edit {
	height: 400px;
	width: 1000px;
	clear: both;
}
#productimg {
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg.jpg);
}

p {
	color: #CCC;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 4px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	clear: both;
}
h4 {
	color: #FC0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
h5 {
	color: #F60;
	font-size: medium;
	float: left;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
ul {
	color: #CCC;
}
li {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
